::-moz-selection {
  background: #FFE100;
  color: #212121; }

::selection {
  background: #FFE100;
  color: #212121; }

body {
  background: white;
  color: #212121;
  font-family: franklin-gothic-urw, sans-serif;
  font-size: 18px;
  line-height: 150%;
  padding: 0 32px 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 640px) {
  .container {
    width: 90%;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 1024px) {
  .container {
    width: 75%;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  .container {
    width: 50%;
    margin: 0 auto; } }

section {
  padding: 32px 0 0 0; }

h1, h2 {
  color: #212121;
  font-family: bely, serif;
  font-weight: 700; }

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  -webkit-text-decoration: underline solid #FFE100;
          text-decoration: underline solid #FFE100; }

h2 {
  font-size: 24px;
  margin: 0 0 24px 0; }

h3 {
  font-size: 36px;
  margin: 24px 0; }

.cta {
  font-weight: 700;
  margin-bottom: 16px; }

p {
  margin: 24px 0;
  line-height: 1.55em; }

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0; }
  ul li {
    margin: 16px 0; }

.no-style {
  list-style: none; }

.quotes {
  margin: 0; }
  .quotes li {
    list-style: none; }

blockquote {
  background-image: url("../images/quote.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 35px 20px;
  font-style: italic;
  margin: 0 0 0 -40px;
  padding: 0 0 16px 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  blockquote p {
    margin: 0; }
  blockquote cite {
    display: block;
    text-align: right;
    font-size: 14px;
    font-style: normal; }

a {
  border-bottom: 2px solid #FFE100;
  color: #212121;
  display: inline-block;
  line-height: 22px;
  text-decoration: none; }
  a:hover {
    border-bottom-color: #e7e7e7; }

.large {
  margin: 24px auto; }

footer {
  padding: 24px;
  text-align: center; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      margin: 8px 0; }
  footer img {
    width: 80px; }
